<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>File upload</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>File upload</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dropzone Area</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form action="" class="dropzone" drop-zone="" id="file-dropzone">
                        <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>
                    </form>
                    <div>
                        <div class="m text-right">
                            <small>DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews: <a href="https://github.com/enyo/dropzone" target="_blank">https://github.com/enyo/dropzone</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
